* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header  */
.header-main {
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid rgb(187, 187, 187);
}

.navba {
    padding: 6px 16px;
}

.nav-containt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.head-left {
    display: flex;
    align-items: center;
    gap: 20px;

}


.navbar-brand h2 {
    color: rgb(255, 217, 0);
    font-size: 35px;
    font-weight: 700;
}

.navbar-brand span {
    color: rgb(24, 168, 20);
    font-size: 35px;
    font-weight: 700;
}

.head-drop h4 {
    color: rgb(15, 15, 15);
    font-weight: 600;
    font-size: 20px;
}

.head-drop a {
    color: rgb(128, 128, 128);
}
.search-location{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}
.head-drop1{
    padding: 35px !important;
}
.head-drop h1{
font-size: 25px;
font-weight: 600;
color: rgb(40, 40, 40);
}
.search-location{
    display: flex;
    flex-direction: row;
    width: 650px;
    gap: 15px;
}
.detect-location h3{
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(24, 168, 20);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
.detect-location2 form{
    border-radius: 8px !important;
}
.detect-location1{
    color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 50%;
}
.detect-location1 h3{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: rgb(196, 196, 196);
    padding: 10px ;
}
/* Search  */
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding: 1px 24px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
       background-color: rgb(240, 240, 240);



}
.form input{
    border: none;
    outline: none;
       background-color: rgb(240, 240, 240);

    color: rgb(128, 128, 128);
    font-size: 17px;
    font-weight: 500;
}
.form i{
    color: rgb(26, 26, 26);
    font-size: 20px;
}
/* Head-right  */

.head-right {
    display: flex;
    align-items: center;
    gap: 20px;

}

.head-right h3 {
    color: rgb(128, 128, 128);
    font-size: 17px;
    font-weight: 600;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(24, 168, 20);
    padding: 6px 34px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 500;

}
.cart i{
    font-size: 16px;
    color: white;

}
.cart-logo {
    display: flex;
    align-items: center;
    color: rgb(128, 128, 128);
}

/* ########################################## Navbar ######################### */

.nav-contant{
    display: flex;
    align-items: center;
    justify-content: center !important;
}
 .dropdown-menu3{
   
        height: 550px !important;
        overflow: auto;
    
 }
 .dropdown-menu3 li{
    border-bottom: 0.5px solid rgba(102, 102, 102, 0.387);
 }

 /* Main Section  */
 .Main-Section{
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
 }
 .sidebar{
    box-shadow: -3px 0px 10px rgba(188, 188, 188, 0.5), 3px 0px 10px rgba(188, 188, 188, 0.5);
    height: fit-content;

 }
 .sidebar ul{
    padding: 0;
 }
 .sidebar li{
    list-style: none;
    border-bottom: 0.5px solid rgba(156, 156, 156, 0.51);
    padding: 0 30px;
    align-items: start;
 }
 .sidebar img{
    background-color: white;
    width: 62px;
    padding:0 8px;
 }
  